{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}
{% block body %}
    <!-- Header-->
    <header class="header">
       <div class="header-text">
           <h1>SnowTricks</h1>
           <h3>Le snowboard pour tout le monde</h3>
       </div>
        <a class="arrow" href="#tricks-list"><i class="arrow fa-solid fa-arrow-down fa-3x text-light"></i></a>
    </header>
    <!-- Section-->
    <section class="page-content py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="trick-list row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="tricks-list">
                {% for trick in tricks %}
                    <div class="trick-item col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="{{ path('trick_detail', { 'id': trick.id }) }}"><img class="card-img-top" src="{{ trick.picture[0].link }}" alt="..."/></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="trick-item-body text-center">
                                    <!-- Product name-->
                                    <a href="{{ path('trick_detail', { 'id': trick.id }) }}"><h5 class="fw-bolder text-decoration-none">{{ trick.name }}</h5></a>
                                    <i class="fa-solid fa-pencil"></i>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="arrow" href="#tricks-list"><i class="arrow fa-solid fa-arrow-up fa-3x text-dark"></i></a>
    </section>
{% endblock %}
