{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="trick-img mt-5 d-flex justify-content-center flex-column">
            <img src="https://st.depositphotos.com/2547675/3009/i/950/depositphotos_30094505-stock-photo-time-clock.jpg" alt="">
        </div>
    </div>
{% endblock %}
